@import './_prefix.less';
button {
    line-height: 3;
    font-size: 24rpx;
}
button.@{prefix}-btn {
    border-radius: 8rpx;
    &.button-hover {
        transform: translate(1rpx, 1rpx);
    }
    &::after {
        display: none;
    }
}
button.@{prefix}-btn {
    position: relative;
    // border: none;
    padding: 0 30rpx;
    text-align: center;
    text-decoration: none;
}

button.@{prefix}-btn[class*="line"] {
    background-color: transparent;
}
button.@{prefix}-btn[class*="line"]::after {
    content: ' ';
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1rpx solid currentColor;
    transform: scale(0.5);
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 12rpx;
    z-index: 1;
    pointer-events: none;
}
button.icon-btn {
    line-height: 2.5;
}
