/*
 _________
|  初始化  |\
| ~~~~~~~ |_\
| 基础变量 |
| ~~~~~~~ |
| ~~~~~~~ |
|_________|
*/

page {
    /* 
     _________
    |  基础色  |
    |_________|
    */
    /* 不正经红色 */
    --red: #eb3b5a;
    --fusion-red: #fc5c65;
    /* 橙色 */
    --orange: #fa8231;
    --fusion-orange: #fd9644;
    /* 不正经黄色 */
    --yellow: #f7b731;
    --fusion-yellow: #fed330;
    /* 橄榄绿 */
    --olive: #9bcc66;
    --fusion-olive: #c3e999;
    /* 绿色 */
    --green: #20bf6b;
    --fusion-green: #26de81;
    /* 蓝绿色 */
    --blue-green: #0fb9b1;
    --fusion-blue-green: #2bcbba;
    /* 青色 */
    --cyan: #69d4db;
    --fusion-cyan: #97e9ed;
    /* 天蓝色 */
    --sky-blue: #2d98da;
    --fusion-sky-blue: #45aaf2;
    /* 蓝色 */
    --blue: #3867d6;
    --fusion-blue: #4b7bec;
    /* 紫色 */
    --purple: #8854d0;
    --fusion-purple: #a55eea;
    /* 紫红色 */
    --mauve: #ce62d6;
    --fusion-mauve: #e38ee9;
    /* 粉色 */
    --pink: #ff69b4;
    --fusion-pink: #ff97cc;
    /* 棕色 */
    --brown: #a52a2a;
    --fusion-brown: #c54b4b;
    /* 蓝灰色 */
    --blue-grey: #4b6584;
    --fusion-blue-grey: #778ca3;
    // 不变基础色
    /* 不正经黑色 */
    --black: #333;
    /* 灰色 */
    --gray: #aaa;
    /* 暗灰色 */
    --dark-gray: #666;
    /* 烟灰色 */
    --grey: #bebebe;
    /* 魂白 */
    --ghost-white: #f8f8f8;
    /* 白色 */
    --white: #fff;
    /* 透明 */
    --transparent: rgba(0, 0, 0, 0);

    /* 
     _________
    |   暗色   |
    |_________|
    */
    /* 不正经红色 */
    --dark-red: #da4c65;
    --dark-fusion-red: #e2767c;
    /* 橙色 */
    --dark-orange: #da8851;
    --dark-fusion-orange: #e09961;
    /* 不正经黄色 */
    --dark-yellow: #d6ab52;
    --dark-fusion-yellow: #dec050;
    /* 橄榄绿 */
    --dark-olive: #9cdc56;
    --dark-fusion-olive: #c3e49e;
    /* 绿色 */
    --dark-green: #29b66b;
    --dark-fusion-green: #30d481;
    /* 蓝绿色 */
    --dark-blue-green: #26a29c;
    --dark-fusion-blue-green: #34c2b3;
    /* 青色 */
    --dark-cyan: #62dae2;
    --dark-fusion-cyan: #9ce5e8;
    /* 天蓝色 */
    --dark-sky-blue: #3796d1;
    --dark-fusion-sky-blue: #5ca6db;
    /* 蓝色 */
    --dark-blue: #3867d6;
    --dark-fusion-blue: #5a81dd;
    /* 紫色 */
    --dark-purple: #874cd8;
    --dark-fusion-purple: #a565e3;
    /* 紫红色 */
    --dark-mauve: #d55ade;
    --dark-fusion-mauve: #e38ee9;
    /* 粉色 */
    --dark-pink: #e880b4;
    --dark-fusion-pink: #efa7cc;
    /* 棕色 */
    --dark-brown: #ad2222;
    --dark-fusion-brown: #d73939;
    /* 蓝灰色 */
    --dark-blue-grey: #2b62a4;
    --dark-fusion-blue-grey: #428ad8;

    /* 
     _________
    | disabled|
    |_________|
    */
    /* 不正经红色 */
    --disabled-red: #f8b8c3;
    --disabled-fusion-red: #fda9ae;
    /* 橙色 */
    --disabled-orange: #fdc8a4;
    --disabled-fusion-orange: #fecca5;
    /* 不正经黄色 */
    --disabled-yellow: #fbdfa2;
    --disabled-fusion-yellow: #ffeca5;
    /* 橄榄绿 */
    --disabled-olive: #d5e9be;
    --disabled-fusion-olive: #d6f0b9;
    /* 绿色 */
    --disabled-green: #b1f2d0;
    --disabled-fusion-green: #aef3d0;
    /* 蓝绿色 */
    --disabled-blue-green: #a8f8f4;
    --disabled-fusion-blue-green: #b7f0ea;
    /* 青色 */
    --disabled-cyan: #b8ebee;
    --disabled-fusion-cyan: #b8f0f3;
    /* 天蓝色 */
    --disabled-sky-blue: #b2d9f2;
    --disabled-fusion-sky-blue: #b3dcfa;
    /* 蓝色 */
    --disabled-blue: #bacaf1;
    --disabled-fusion-blue: #b5c9f7;
    /* 紫色 */
    --disabled-purple: #d3c0ee;
    --disabled-fusion-purple: #d5b5f5;
    /* 紫红色 */
    --disabled-mauve: #ebbfee;
    --disabled-fusion-mauve: #ebafef;
    /* 粉色 */
    --disabled-pink: #ffa4d1;
    --disabled-fusion-pink: #ffabd6;
    /* 棕色 */
    --disabled-brown: #edb9b9;
    --disabled-fusion-brown: #ebc2c2;
    /* 蓝灰色 */
    --disabled-blue-grey: #c7d2df;
    --disabled-fusion-blue-grey: #c9d1da;

    /* 
     _________
    |   浅色   |
    |_________|
    */
    /* 不正经红色 */
    --light-red: #fdedf0;
    --light-fusion-red: #fff6f7;
    /* 橙色 */
    --light-orange: #fff6f1;
    --light-fusion-orange: #fff8f3;
    /* 不正经黄色 */
    --light-yellow: #fef9ee;
    --light-fusion-yellow: #fffcf3;
    /* 橄榄绿 */
    --light-olive: #fbfdf9;
    --light-fusion-olive: #fcfefa;
    /* 绿色 */
    --light-green: #f4fdf9;
    --light-fusion-green: #f2fdf8;
    /* 蓝绿色 */
    --light-blue-green: #f0fefd;
    --light-fusion-blue-green: #f8fdfd;
    /* 青色 */
    --light-cyan: #f7fdfd;
    --light-fusion-cyan: #fbfefe;
    /* 天蓝色 */
    --light-sky-blue: #f5fafd;
    --light-fusion-sky-blue: #fcfeff;
    /* 蓝色 */
    --light-blue: #fbfcfe;
    --light-fusion-blue: #fcfdff;
    /* 紫色 */
    --light-purple: #fefdff;
    --light-fusion-purple: #fcfafe;
    /* 紫红色 */
    --light-mauve: #fffeff;
    --light-fusion-mauve: #fbf1fc;
    /* 粉色 */
    --light-pink: #fff2f9;
    --light-fusion-pink: #fff9fc;
    /* 棕色 */
    --light-brown: #fdf8f8;
    --light-fusion-brown: #fefdfd;
    /* 蓝灰色 */
    --light-blue-grey: #f9fbfc;
    --light-fusion-blue-grey: #f8f9fa;

    /* 
     _________
    |  渐变色  |
    |_________|
    */
    /* 渐变红 */
    --gradual-red: linear-gradient(45deg, #e92758, #e92758, #f06c8e);
    /* 渐变橙 */
    --gradual-orange: linear-gradient(45deg, #ff0000, #fb6525, #f7cb4a);
    /* 渐变绿 */
    --gradual-green: linear-gradient(45deg, #3edb80, #a0e35e, #ffea3c);
    /* 渐变浅青 */
    --gradual-cyan: linear-gradient(45deg, #00bbd4, #45dcca, #8dffc0);
    /* 渐变蓝 */
    --gradual-blue: linear-gradient(45deg, #1976d2, #0c9ad3, #00bbd4);
    /* 渐变浅紫*/
    --gradual-light-purple: linear-gradient(45deg, #a18cd1, #bfb0e0, #fbc2eb);
    /* 渐变紫 */
    --gradual-purple: linear-gradient(45deg, #a700a7, #ce00ce, #f600f6);
    /* 渐变粉 */
    --gradual-pink: linear-gradient(45deg, #ff69b4, #ff7dbe, #ffcbe5);
    /* 
     _________
    |阴影透明色|
    |________|
    */
    --shadow-size: 6rpx 6rpx 8rpx;
    /* 红 */
    --red-shadow: rgba(243, 83, 82, 0.2);
    /* 橙 */
    --orange-shadow: rgba(255, 136, 0, 0.2);
    /* 黄 */
    --yellow-shadow: rgba(247, 203, 74, 0.2);
    /* 橄榄绿 */
    --olive-shadow: rgba(155, 204, 102, 0.2);
    /* 绿 */
    --green-shadow: rgba(63, 178, 126, 0.2);
    /* 天青 */
    --cyan-shadow: rgba(105, 212, 219, 0.2);
    /* 天蓝 */
    --skyBlue-shadow: rgba(208, 235, 251, 0.2);
    /* 蓝 */
    --blue-shadow: rgba(81, 130, 228, 0.2);
    /* 紫 */
    --purple-shadow: rgba(137, 84, 212, 0.2);
    /* 紫红 */
    --mauve-shadow: rgba(206, 98, 214, 0.2);
    /* 粉 */
    --pink-shadow: rgba(255, 105, 180, 0.2);
    /* 棕 */
    --brown-shadow: rgba(165, 42, 42, 0.2);
    /* 烟灰 */
    --grey-shadow: rgba(170, 170, 170, 0.2);
    /* 浅灰 */
    --gray-shadow: rgba(190, 190, 190, 0.2);
    /* 黑 */
    --black-shadow: rgba(51, 51, 51, 0.2);
}
