/*
 _________
|  初始化  |\
| ~~~~~~~ |_\
| 基础变量 |
| ~~~~~~~ |
| ~~~~~~~ |
|_________|
*/

page {
    /* 
     _________
    |  基础色  |
    |_________|
    */
    /* 不正经红色 */
    --red: #eb3b5a;
    --fusion-red: #fc5c65;
    /* 橙色 */
    --orange: #fa8231;
    --fusion-orange: #fd9644;
    /* 不正经黄色 */
    --yellow: #fca310;
    --fusion-yellow: #fdc871;
    /* 橄榄绿 */
    --olive: #9bcc66;
    --fusion-olive: #c3e999;
    /* 绿色 */
    --green: #20bf6b;
    --fusion-green: #26de81;
    /* 蓝绿色 */
    --blue-green: #0fb9b1;
    --fusion-blue-green: #2bcbba;
    /* 青色 */
    --cyan: #69d4db;
    --fusion-cyan: #97e9ed;
    /* 天蓝色 */
    --sky-blue: #2d98da;
    --fusion-sky-blue: #45aaf2;
    /* 蓝色 */
    --blue: #3867d6;
    --fusion-blue: #4b7bec;
    /* 紫色 */
    --purple: #8854d0;
    --fusion-purple: #a55eea;
    /* 紫红色 */
    --mauve: #ce62d6;
    --fusion-mauve: #e38ee9;
    /* 粉色 */
    --pink: #ff69b4;
    --fusion-pink: #ff97cc;
    /* 棕色 */
    --brown: #a52a2a;
    --fusion-brown: #c54b4b;
    /* 蓝灰色 */
    --blue-grey: #4b6584;
    --fusion-blue-grey: #778ca3;
    // 不变基础色
    /* 不正经黑色 */
    --black: #333;
    /* 灰色 */
    --gray: #aaa;
    /* 暗灰色 */
    --dark-gray: #666;
    /* 烟灰色 */
    --grey: #bebebe;
    /* 魂白 */
    --ghost-white: #f8f8f8;
    /* 白色 */
    --white: #fff;
    /* 透明 */
    --transparent: rgba(0, 0, 0, 0);

    /* 
     _________
    |   暗色   |
    |_________|
    */
    /* 不正经红色 */
    --dark-red: #da4c65;
    --dark-fusion-red: #e2767c;
    /* 橙色 */
    --dark-orange: #da8851;
    --dark-fusion-orange: #e09961;
    /* 不正经黄色 */
    --dark-yellow: #e7c387;
    --dark-fusion-yellow: #fdc871;
    /* 橄榄绿 */
    --dark-olive: #9cdc56;
    --dark-fusion-olive: #c3e49e;
    /* 绿色 */
    --dark-green: #29b66b;
    --dark-fusion-green: #30d481;
    /* 蓝绿色 */
    --dark-blue-green: #26a29c;
    --dark-fusion-blue-green: #34c2b3;
    /* 青色 */
    --dark-cyan: #62dae2;
    --dark-fusion-cyan: #9ce5e8;
    /* 天蓝色 */
    --dark-sky-blue: #3796d1;
    --dark-fusion-sky-blue: #5ca6db;
    /* 蓝色 */
    --dark-blue: #3867d6;
    --dark-fusion-blue: #5a81dd;
    /* 紫色 */
    --dark-purple: #874cd8;
    --dark-fusion-purple: #a565e3;
    /* 紫红色 */
    --dark-mauve: #d55ade;
    --dark-fusion-mauve: #e38ee9;
    /* 粉色 */
    --dark-pink: #e880b4;
    --dark-fusion-pink: #efa7cc;
    /* 棕色 */
    --dark-brown: #ad2222;
    --dark-fusion-brown: #d73939;
    /* 蓝灰色 */
    --dark-blue-grey: #2b62a4;
    --dark-fusion-blue-grey: #428ad8;

    /* 
     _________
    | disabled|
    |_________|
    */
    /* 不正经红色 */
    --disabled-red: #f8b8c3;
    --disabled-fusion-red: #fda9ae;
    /* 橙色 */
    --disabled-orange: #fdc8a4;
    --disabled-fusion-orange: #fecca5;
    /* 不正经黄色 */
    --disabled-yellow: #fbdfa2;
    --disabled-fusion-yellow: #ffeca5;
    /* 橄榄绿 */
    --disabled-olive: #d5e9be;
    --disabled-fusion-olive: #d6f0b9;
    /* 绿色 */
    --disabled-green: #b1f2d0;
    --disabled-fusion-green: #aef3d0;
    /* 蓝绿色 */
    --disabled-blue-green: #a8f8f4;
    --disabled-fusion-blue-green: #b7f0ea;
    /* 青色 */
    --disabled-cyan: #b8ebee;
    --disabled-fusion-cyan: #b8f0f3;
    /* 天蓝色 */
    --disabled-sky-blue: #b2d9f2;
    --disabled-fusion-sky-blue: #b3dcfa;
    /* 蓝色 */
    --disabled-blue: #bacaf1;
    --disabled-fusion-blue: #b5c9f7;
    /* 紫色 */
    --disabled-purple: #d3c0ee;
    --disabled-fusion-purple: #d5b5f5;
    /* 紫红色 */
    --disabled-mauve: #ebbfee;
    --disabled-fusion-mauve: #ebafef;
    /* 粉色 */
    --disabled-pink: #ffa4d1;
    --disabled-fusion-pink: #ffabd6;
    /* 棕色 */
    --disabled-brown: #edb9b9;
    --disabled-fusion-brown: #ebc2c2;
    /* 蓝灰色 */
    --disabled-blue-grey: #c7d2df;
    --disabled-fusion-blue-grey: #c9d1da;

    /* 
     _________
    |   浅色   |
    |_________|
    */
    /* 不正经红色 */
    --light-red: #fdedf0;
    --light-fusion-red: #fff6f7;
    /* 橙色 */
    --light-orange: #fff6f1;
    --light-fusion-orange: #fff8f3;
    /* 不正经黄色 */
    --light-yellow: #fef9ee;
    --light-fusion-yellow: #fffcf3;
    /* 橄榄绿 */
    --light-olive: #fbfdf9;
    --light-fusion-olive: #fcfefa;
    /* 绿色 */
    --light-green: #f4fdf9;
    --light-fusion-green: #f2fdf8;
    /* 蓝绿色 */
    --light-blue-green: #f0fefd;
    --light-fusion-blue-green: #f8fdfd;
    /* 青色 */
    --light-cyan: #f7fdfd;
    --light-fusion-cyan: #fbfefe;
    /* 天蓝色 */
    --light-sky-blue: #f5fafd;
    --light-fusion-sky-blue: #fcfeff;
    /* 蓝色 */
    --light-blue: #fbfcfe;
    --light-fusion-blue: #fcfdff;
    /* 紫色 */
    --light-purple: #fefdff;
    --light-fusion-purple: #fcfafe;
    /* 紫红色 */
    --light-mauve: #fffeff;
    --light-fusion-mauve: #fbf1fc;
    /* 粉色 */
    --light-pink: #fff2f9;
    --light-fusion-pink: #fff9fc;
    /* 棕色 */
    --light-brown: #fdf8f8;
    --light-fusion-brown: #fefdfd;
    /* 蓝灰色 */
    --light-blue-grey: #f9fbfc;
    --light-fusion-blue-grey: #f8f9fa;

    /* 
     _________
    |  渐变色  |
    |_________|
    */
    /* 渐变红 */
    --gradual-red: linear-gradient(20deg, #e92758, #e92758, #f06c8e);
    /* 渐变橙 */
    --gradual-orange: linear-gradient(20deg, #ff0000, #fb6525, #f7cb4a);
    /* 渐变黄 */
    --gradual-yellow: linear-gradient(20deg, #fca310, #fdc871, #fedeab);
    /* 渐变绿 */
    --gradual-green: linear-gradient(20deg, #3edb80, #a0e35e, #ffea3c);
    /* 渐变浅青 */
    --gradual-cyan: linear-gradient(20deg, #00bbd4, #45dcca, #8dffc0);
    /* 渐变蓝 */
    --gradual-blue: linear-gradient(20deg, #1976d2, #0c9ad3, #00bbd4);
    /* 渐变浅紫*/
    --gradual-light-purple: linear-gradient(20deg, #a18cd1, #bfb0e0, #fbc2eb);
    /* 渐变紫 */
    --gradual-purple: linear-gradient(20deg, #a700a7, #ce00ce, #f600f6);
    /* 渐变粉 */
    --gradual-pink: linear-gradient(20deg, #ff69b4, #ff7dbe, #ffcbe5);
    /* 
     _________
    |阴影透明色|
    |________|
    */
    --shadow-size: 6rpx 6rpx 8rpx;
    /* 不正经红色 */
    --shadow-red:rgba(235, 59, 90, .2);
    --shadow-fusion-red: rgba(252, 92, 101, .2);
    /* 橙色 */
    --shadow-orange: rgba(250, 130, 49, .2);
    --shadow-fusion-orange: rgba(253, 150, 68, .2);
    /* 不正经黄色 */
    --shadow-yellow: rgba(247, 183, 49, .2);
    --shadow-fusion-yellow: rgba(254, 211, 48, .2);
    /* 橄榄绿 */
    --shadow-olive: rgba(155, 204, 102, .2);
    --shadow-fusion-olive: rgba(195, 233, 153, .2);
    /* 绿色 */
    --shadow-green: rgba(32, 191, 107, .2);
    --shadow-fusion-green: rgba(38, 222, 129, .2);
    /* 蓝绿色 */
    --shadow-blue-green: rgba(15, 185, 177, .2);
    --shadow-fusion-blue-green: rgba(43, 203, 186, .2);
    /* 青色 */
    --shadow-cyan: rgba(105, 212, 219, .2);
    --shadow-fusion-cyan: rgba(151, 233, 237, .2);
    /* 天蓝色 */
    --shadow-sky-blue: rgba(45, 152, 218, .2);
    --shadow-fusion-sky-blue: rgba(69, 170, 242, .2);
    /* 蓝色 */
    --shadow-blue: rgba(56, 103, 214, .2);
    --shadow-fusion-blue: rgba(75, 123, 236, .2);
    /* 紫色 */
    --shadow-purple: rgba(136, 84, 208, .2);
    --shadow-fusion-purple: rgba(165, 94, 234, .2);
    /* 紫红色 */
    --shadow-mauve: rgba(206, 98, 214, .2);
    --shadow-fusion-mauve: rgba(227, 142, 233, .2);
    /* 粉色 */
    --shadow-pink: rgba(255, 105, 180, .2);
    --shadow-fusion-pink: rgba(255, 151, 204, .2);
    /* 棕色 */
    --shadow-brown: rgba(165, 42, 42, .2);
    --shadow-fusion-brown: rgba(197, 75, 75, .2);
    /* 蓝灰色 */
    --shadow-blue-grey: rgba(75, 101, 132, .2);
    --shadow-fusion-blue-grey: rgba(119, 140, 163, .2);
    // 不变基础色
    /* 不正经黑色 */
    --shadow-black: rgba(51, 51, 51, .2);
    /* 灰色 */
    --shadow-gray: rgba(170, 170, 170, .2);
    /* 暗灰色 */
    --shadow-dark-gray: rgba(102, 102, 102, .2);
    /* 烟灰色 */
    --shadow-grey: rgba(190, 190, 190, .2);
    /* 白色色 */
    --shadow-white:rgba(255, 255, 255, .2);
}
