/*
    code is far away from bug with the animal protecting
                      _                    _    _  _____ 
        /\           (_)                  | |  | ||_   _|
       /  \    _ __   _  _ __ ___    __ _ | |  | |  | |  
      / /\ \  | '_ \ | || '_ ` _ \  / _` || |  | |  | |  
     / ____ \ | | | || || | | | | || (_| || |__| | _| |_ 
    /_/    \_\|_| |_||_||_| |_| |_| \__,_| \____/ |_____|

    AnimaUI for wechat-miniprogram  v1.0.0 | by 花夏(huaxia@animaui.com) 2020-03-25 18:10:37
    仅供学习交流，如作它用所承受的法律责任一概与作者无关
    代码不易，使用AnimaUI开发微信小程序时，请注明基于
    AnimaUI开发，谢谢~~ QQ交流群：183167955
*/
page {
    /* 
     ______________
    | 初始化页面样式 |
    |_____________|
    */
    background-color: var(--ghost-white);
    font-size: 28rpx;
    color: var(--black);
}

/* 字体粗细 */
.fontWeight(700);
.fontWeight(@fw, @i: 400) when (@i =< @fw) {
    .fw-@{i} {
        font-weight: 0 + @i;
    }
    .fontWeight(@fw, (@i + 100));
}

/* 字体大小 */
.fontSize(80);
.fontSize(@fs, @i: 24) when (@i =< @fs) {
    .fs-@{i} {
        font-size: 0rpx + @i;
    }
    .fontSize(@fs, (@i + 2));
}

.block {
    display: block;
}

/* 首字母大写 */
.capitalize {
    text-transform: Capitalize;
}

/* 全大写 */
.uppercase {
    text-transform: uppercase;
}

/* 全小写 */
.lowercase {
    text-transform: lowercase;
}

/*
 _________
|  背景色  |\
| ~~~~~~~ |_\
|  纯色    |
| ~~~~~~~ |
| ~~~~~~~ |
|_________|
*/

// 变量抽取
@colorType: null, dark, disabled, light;
@colors: red, fusion-red, orange, fusion-orange, yellow,
    fusion-yellow, olive, fusion-olive, green, fusion-green,
    blue-green, fusion-blue-green, cyan, fusion-cyan, sky-blue,
    fusion-sky-blue, blue, fusion-blue, purple, fusion-purple,
    mauve, fusion-mauve, pink, fusion-pink, brown, fusion-brown,
    blue-grey, fusion-blue-grey;

.colorType(@colorType);
.colorType(@colorType, @i: 1) when (length(@colorType) >= @i) {
    @typeName: extract(@colorType, @i);
    .bg(@colors);
    .bg(@colors, @j: 1) when (length(@colors) >= @j) {
        @name: extract(@colors, @j);
        .bgType(@typeName);
        // 判断是否是占位符
        .bgType(@typeName) when not( @typeName = null) {
            .bg-@{typeName}-@{name} {
                background-color: var(~'--@{typeName}-@{name}');
            }
        }
        .bgType(@typeName) when ( @typeName = null) {
            .bg-@{name} {
                background-color: var(~'--@{name}');
            }
        }
        .bg(@colors, (@j + 1));
    }
    .colorType(@colorType, (@i + 1));
}

/* 魂白背景 */
.bg-ghost-white {
    background-color: var(--ghost-white);
    color: var(--darkGray);
}

/* 白色背景 */
.bg-white {
    background-color: var(--white);
    color: var(--darkGray);
}

/* 透明 */
.bg-transparent {
    background-image: var(--transparent);
    color: var(--white);
}

/*
 __________
| ~~~~~~~~~|\
| 渐变背景色 |_\
| ~~~~~~~~ |
| ~~~~~~~~ |
|__________|
*/

/* 渐变红 */

.bg-gradual-red {
    background-image: var(--gradualRed);
    color: var(--white);
}

/* 渐变橙 */

.bg-gradual-orange {
    background-image: var(--gradualOrange);
    color: var(--white);
}

/* 渐变绿 */

.bg-gradual-green {
    background-image: var(--gradualGreen);
    color: var(--white);
}

/* 渐变天青 */

.bg-gradual-cyan {
    background-image: var(--gradualCyan);
    color: var(--white);
}

/* 渐变蓝 */

.bg-gradual-blue {
    background-image: var(--gradualBlue);
    color: var(--white);
}

/* 渐变紫 */

.bg-gradual-purple {
    background-image: var(--gradualPurple);
    color: var(--white);
}

/* 渐变浅紫 */

.bg-gradual-lightPurple {
    background-image: var(--gradualLightPurple);
    color: var(--white);
}

/* 渐变粉 */

.bg-gradual-pink {
    background-image: var(--gradualPink);
    color: var(--white);
}

/*
 _________
| 文字颜色 |\
| ~~~~~~~ |_\
|~~正经色~~|
| ~~~~~~~ |
|_________|
*/

/* 不正经红色 */

.text-red {
    color: var(--red);
}

/* 橙色 */

.text-orange {
    color: var(--orange);
}

/* 不正经黄色 */

.text-yellow {
    color: var(--yellow);
}

/* 橄榄绿 */

.text-olive {
    color: var(--olive);
}

/* 绿色 */

.text-green {
    color: var(--green);
}

/* 青色 */

.text-cyan {
    color: var(--cyan);
}

.text-skyBlue {
    color: var(--skyBlue);
}

/* 蓝色 */

.text-blue {
    color: var(--blue);
}

/* 紫色 */

.text-purple {
    color: var(--purple);
}

/* 紫红色 */

.text-mauve {
    color: var(--mauve);
}

/* 粉色 */

.text-pink {
    color: var(--pink);
}

/* 棕色 */

.text-brown {
    color: var(--brown);
}

/* 不正经黑色 */

.text-black {
    color: var(--black);
}

/* 暗灰色 */

.text-darkGray {
    color: var(--darkGray);
}

/* 灰色 */

.text-gray {
    color: var(--gray);
}

/* 烟灰色 */

.text-grey {
    color: var(--grey);
}

/* 魂白 */

.text-ghostWhite {
    color: var(--ghostWhite);
}

/* 白色 */

.text-white {
    color: var(--white);
}

/*
 _________
|背景shadow|\
| ~~~~~~~ |_\
| ~~~~~~~ |
| ~~~~~~~ |
|_________|
*/

/* 红 */

.shadow[class*='-red'] {
    box-shadow: var(--shadowSize) var(--redShadow);
}

/* 橙 */

.shadow[class*='-orange'] {
    box-shadow: var(--shadowSize) var(--orangeShadow);
}

/* 黄 */

.shadow[class*='-yellow'] {
    box-shadow: var(--shadowSize) var(--yellowShadow);
}

/* 橄榄绿 */

.shadow[class*='-olive'] {
    box-shadow: var(--shadowSize) var(--oliveShadow);
}

/* 绿 */

.shadow[class*='-green'] {
    box-shadow: var(--shadowSize) var(--greenShadow);
}

/* 青 */

.shadow[class*='-cyan'] {
    box-shadow: var(--shadowSize) var(--cyanShadow);
}

/* 天蓝 */

.shadow[class*='-skyBlue'] {
    box-shadow: var(--shadowSize) var(--skyBlueShadow);
}

.shadow[class*='-blue'] {
    box-shadow: var(--shadowSize) var(--blueShadow);
}

/* 紫 */

.shadow[class*='-purple'] {
    box-shadow: var(--shadowSize) var(--purpleShadow);
}

/* 紫红 */

.shadow[class*='-mauve'] {
    box-shadow: var(--shadowSize) var(--mauveShadow);
}

/* 粉 */

.shadow[class*='-pink'] {
    box-shadow: var(--shadowSize) var(--pinkShadow);
}

/* 棕 */

.shadow[class*='-brown'] {
    box-shadow: var(--shadowSize) var(--brownShadow);
}

/* 烟灰 */

.shadow[class*='-grey'] {
    box-shadow: var(--shadowSize) var(--greyShadow);
}

/* 浅灰 */

.shadow[class*='-gray'] {
    box-shadow: var(--shadowSize) var(--grayShadow);
}

/* 不正经黑色 */

.shadow[class*='-black'] {
    box-shadow: var(--shadowSize) var(--blackShadow);
}

/* 不正经黑色 */

.shadow[class*='-white'] {
    box-shadow: var(--shadowSize) var(--blackShadow);
}

/*
 _________
|文字shadow|\
| ~~~~~~~ |_\
| ~~~~~~~ |
| ~~~~~~~ |
|_________|
*/

/* 红 */

.text-shadow[class*='-red'] {
    text-shadow: var(--shadowSize) var(--redShadow);
}

/* 橙 */

.text-shadow[class*='-orange'] {
    text-shadow: var(--shadowSize) var(--orangeShadow);
}

/* 黄 */

.text-shadow[class*='-yellow'] {
    text-shadow: var(--shadowSize) var(--yellowShadow);
}

/* 橄榄绿 */

.text-shadow[class*='-olive'] {
    text-shadow: var(--shadowSize) var(--oliveShadow);
}

/* 绿 */

.text-shadow[class*='-green'] {
    text-shadow: var(--shadowSize) var(--greenShadow);
}

/* 青 */

.text-shadow[class*='-cyan'] {
    text-shadow: var(--shadowSize) var(--cyanShadow);
}

/* 天蓝 */

.text-shadow[class*='-skyBlue'] {
    text-shadow: var(--shadowSize) var(--skyBlueShadow);
}

.text-shadow[class*='-blue'] {
    text-shadow: var(--shadowSize) var(--blueShadow);
}

/* 紫 */

.text-shadow[class*='-purple'] {
    text-shadow: var(--shadowSize) var(--purpleShadow);
}

/* 紫红 */

.text-shadow[class*='-mauve'] {
    text-shadow: var(--shadowSize) var(--mauveShadow);
}

/* 粉 */

.text-shadow[class*='-pink'] {
    text-shadow: var(--shadowSize) var(--pinkShadow);
}

/* 棕 */

.text-shadow[class*='-brown'] {
    text-shadow: var(--shadowSize) var(--brownShadow);
}

/* 烟灰 */

.text-shadow[class*='-grey'] {
    text-shadow: var(--shadowSize) var(--greyShadow);
}

/* 浅灰 */

.text-shadow[class*='-gray'] {
    text-shadow: var(--shadowSize) var(--grayShadow);
}

/* 不正经黑色 */

.text-shadow[class*='-black'] {
    text-shadow: var(--shadowSize) var(--blackShadow);
}

/* 不正经黑色 */

.text-shadow[class*='-white'] {
    text-shadow: var(--shadowSize) var(--blackShadow);
}
