/*
 _________
|   布局   |\
| ~~~~~~~ |_\
|  flex   |
| ~~~~~~~ |
| ~~~~~~~ |
|_________|
*/
.block {
    display: block;
}
.none {
    display: none;
}
.inline-block {
    display: inline-block;
}
.flex {
    display: flex;
}
.align-center {
    text-align: center;
    align-items: center;
}

/* 项目位于容器的开头 */

.justify-start {
    justify-content: flex-start;
}


/* 项目位于容器的结尾 */

.justify-end {
    justify-content: flex-end;
}


/* 项目位于容器的中心 */

.justify-center {
    justify-content: center;
}


/* 项目位于各行之间留有空白的容器内 */

.justify-between {
    justify-content: space-between;
}


/* 项目位于各行之前、之间、之后都留有空白的容器内 */

.justify-around {
    justify-content: space-around;
}

.flex-direction {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-sub {
    flex: 1;
}

.flex-twice {
    flex: 2;
}

.flex-treble {
    flex: 3;
}

.fixed {
    position: fixed;
}

.overflow-hidden {
    overflow: hidden;
}